body{
	margin:10px;
}
*:hover{
	outline: 0;
}
/*Анимация кнопки*/
.btn{
	width:200px;
	height:50px;
	font-size: 16px;
	font-weight: bold;
	border: 1px solid #FF5722;
	border-radius: 5px;
	background: #FFEB3B;
	-webkit-transition: all 2s ease-in-out;
     -moz-transition: all 2s ease-in-out;
     -o-transition: all 2s ease-in-out;
     transition: all 2s ease-in-out;
}
.btn:hover, .btn:focus{
	border: 1px solid #185f01;
	border-radius: 5px;
	background: #00e102;
}
.btn:active{
	border: 1px solid #795548;
	border-radius: 5px;
	background: #902a05;
}
/*Анимация блока*/
.div_over{
	width:202px;
	height:202px;
	position:relative;
	left:-10px;
	background: #b7e6fb;
}
.div_over p{
	margin-left:30%;
	text-align:center;
}
.div_trans{
	width:200px;
	height:200px;
	border: 1px solid #185f01;
	border-radius: 5px;
	background: #00e102;
	position: absolute;
	top:0;
	left:-80%;
	-o-transition: left 3s linear;
	-ms-transition: left 3s linear;
	-moz-transition: left 3s linear;
	-webkit-transition: left 3s linear;
	transition: left 3s linear;
	text-align:center;
}
.div_trans p{
	transform-origin: 100% 100%;
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(-90deg);
	-o-transition: transform 3s linear;
	-ms-transition: transform 3s linear;
	-moz-transition: transform 3s linear;
	-webkit-transition: transform 3s linear;
	transition: transform 3s linear;
}
.div_trans:hover,.div_trans:focus,.div_trans:active {
	left:0;
}
.div_trans:hover p,.div_trans:focus p,.div_trans:active p {
	-moz-transform: none;
	-ms-transform: none;
	-webkit-transform: none;
	-o-transform: none;
	transform: none;
}
/*Анимация автомобиля*/
.animation_avto{
	position: relative;
	margin:0 auto;
	width:70%;
	height: 500px;
	background-image:url(index/bg-star.gif);
}
.back{
	display:block;
	position:relative;
	width:100%;
	height:100%;
	z-index: 0;
	overflow:hidden;
	background: url(index/bg-5.png) bottom repeat-x,
	url(index/bg-4.png) bottom repeat-x,
	url(index/bg-3.png) bottom repeat-x,
	url(index/bg-2.png) bottom repeat-x;
	background-size: auto;
	-moz-animation: back-sity 30s ease-out 2s 1 forwards;
	-webkit-animation: back-sity 30s ease-out 2s 1 forwards;
	animation: back-sity 30s ease-out 2s 1 forwards;
}
-moz-@keyframes back-sity {
	0% {background-position: 0 0, 0 0, 0 0, 0 0;}
	85% {background-position: 300% 0, 100% 0, 40% 0, 5% 0;}
	90% {background-position: 300% 0, 100% 0, 40% 0, 5% 0;}
	100% {background-position: 150% 0, 50% 0, 20% 0, 2% 0;}
}
-webkit-@keyframes back-sity {
	0% {background-position: 0 0, 0 0, 0 0, 0 0;}
	85% {background-position: 300% 0, 100% 0, 40% 0, 5% 0;}
	90% {background-position: 300% 0, 100% 0, 40% 0, 5% 0;}
	100% {background-position: 150% 0, 50% 0, 20% 0, 2% 0;}
}
@keyframes back-sity {
	0% {background-position: 0 0, 0 0, 0 0, 0 0;}
	85% {background-position: 300% 0, 100% 0, 40% 0, 5% 0;}
	90% {background-position: 300% 0, 100% 0, 40% 0, 5% 0;}
	100% {background-position: 150% 0, 50% 0, 20% 0, 2% 0;}
}

.avto{
	display:block;
	width: 200px;
	height: 200px;
	position:absolute;
	bottom:0;
	background-image:url(index/auto.png);
	background-size: contain;
	background-repeat: no-repeat;
	-moz-animation-name: back-avto;
	-moz-animation-duration: 30s;
	-moz-animation-timing-function: ease-out;
	-moz-animation-delay: 2s;
	-moz-animation-iteration-count: 1;
	-moz-animation-direction: normal;
	-moz-animation-play-state: running; 
	-moz-animation-fill-mode: forwards;

	-webkit-animation-name: back-avto;
	-webkit-animation-duration: 30s;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-delay: 2s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction: normal;
	-webkit-animation-play-state: running; 
	-webkit-animation-fill-mode: forwards;

	animation-name: back-avto;
	animation-duration: 30s;
	animation-timing-function: ease-out;
	animation-delay: 2s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-play-state: running; 
	animation-fill-mode: forwards;
}
.avto:hover{
	-moz-animation-play-state: paused;
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
}
-moz-@keyframes back-avto {
	0% {left: 0px;}
	85% {left: 75%;}
	90% {left: 75%;}
	100% {left: 45%;}
}
-webkit-@keyframes back-avto {
	0% {left: 0px;}
	85% {left: 75%;}
	90% {left: 75%;}
	100% {left: 45%;}
}
@keyframes back-avto {
	0% {left: 0px;}
	85% {left: 75%;}
	90% {left: 75%;}
	100% {left: 45%;}
}
.befor{
	display:block;
	position: absolute;
	width:100%;
	height: 70px;
	bottom:0;
	left: 0;
	z-index: 2;
	overflow:hidden;
	background: url(index/bg-6.png) bottom repeat-x;
}